<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/cart-style.css">
        <link rel="stylesheet" href="../styles/navbar-style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>

        <nav class="navigation">
            <a href="/home" class="brand-name">
              Watch zone
            </a>
            <button
              class="hamburger"
              
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="white"
              >
                <path
                  fillRule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                  clipRule="evenodd"
                />
              </svg>
            </button>
            <div
              class="navigation-menu"
            >
            <ul>
               
              <li>
                    Welcome <span id="userName"><%= user.username%>!</span>
                </li>
              <li>
                <a href="/cart">
                  <img src="../images/shopping-cart.png" alt="Shopping-cart" height="24" width="24"/>
                </a>
                <span id="cart_count"><%=cart.products.length%></span>

              </li>
              <li>
                <a href="logout">
                  <img src="../images/logout.png" alt="logout" height="24" width="24"/>
                </a>
              </li>
            </ul>
            </div>
          </nav>
        </header>
        <main>
            
            <div class="cart-page__container">
                <div class="cart-page-left__container">
                    <h2>Purchase processing</h2>
                    <ul class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Quick view</a></li>
                        <li class="active">Cart</li>
                      </ul>
                    <!-- <div class="cart-tile__container">
                        <div class="cart-tile__header">
                            ADDRESS
                        </div>
                        <div>
                            92 Meldazy DR, Scarbrough- ON , M1P 4G3.
                        </div>
                        </div> -->
                    <div>
                        <div class="container">

                        <form action="/api/orders/create" method="post">
      
                            <div class="row">
                              <div class="col-25">
                                <h3 class="tile__header">Billing Address</h3>
                                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" id="email" name="email" placeholder="john@example.com">
                                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                                <label for="city"><i class="fa fa-institution"></i> City</label>
                                <input type="text" id="city" name="city" placeholder="New York">
                    
                                <div class="row">
                                  <div class="col-50">
                                    <label for="state">State</label>
                                    <input type="text" id="state" name="state" placeholder="NY">
                                  </div>
                                  <div class="col-50">
                                    <label for="zip">Zip</label>
                                    <input type="text" id="zip" name="zip" placeholder="10001">
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                            <label>
                              <input type="checkbox" checked="checked" name="same-address"> Shipping address same as billing
                            </label>
                            <input type="text" hidden="true" value=<%= cart.id%> name="cart">
                            <input type="submit" value="Place Order" class="btn">
                          </form>
                          </div>

                    </div>    
                   
                </div>
                <div class="cart-page-right__container">
                    <h2>Your cart</h2>
                    <div id="cart_items" >
                        <% for ( var i=0; i< cart.products.length; i++) { %>
                        <div class="cart-item__container">
                          <div>
                            <img src=<%= cart.products[i].img%> alt="logo" class="cart-brand-logo">
                          </div>
                          <div class="cart_details">
                              <%= cart.products[i].title%>
                            <div>$<%= cart.products[i].price%></div>
                          </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
 
        </body>
</html>
