<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/quick-view-style.css">
        <link rel="stylesheet" href="../styles/navbar-style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script>
            $(document).ready(function(){
              $('.slider').bxSlider();
            });
          </script>      
    </head>
    <body>
        <header>

        <nav class="navigation">
            <a href="/home" class="brand-name">
              Watch zone
            </a>
            <button
              class="hamburger"
              
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="white"
              >
                <path
                  fillRule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                  clipRule="evenodd"
                />
              </svg>
            </button>
            <div
              class="navigation-menu"
            >
            <ul>
               
              <li>
                Welcome <span id="userName"><%= user.username%>!</span>
              </li>
              <li>
                <a href="/cart">
                  <img src="../images/shopping-cart.png" alt="Shopping-cart" height="24" width="24"/>
                </a>
                <span id="cart_count"></span>
              </li>
              <li>
                <div onclick="logout()">
                  <img src="../images/logout.png" alt="logout" height="24" width="24"/>
                </div>
              </li>
            </ul>
            </div>
          </nav>
        </header>
        <main>
            <ul class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li class="active">Quick view</li>
              </ul>
            <div class="quick-view-page__container">
                
                <div class="quick-view-page-left__container">
                        <div class="slider__container">
                            <div class="slider">
                                <img src=<%= product.img%> alt="slider" class="product-detail-slider-image" >
                                <img src=<%= product.img%> alt="slider" class="product-detail-slider-image" >
                                <img src=<%= product.img%> alt="slider" class="product-detail-slider-image" >
                                <img src=<%= product.img%> alt="slider" class="product-detail-slider-image" >
                              </div>
                        </div>
                </div>
                <div class="quick-view-page-right__container">
                    
                    <div class="product-detail_header">
                        <img src=<%= product.img%> alt="logo" class="product-detail-brand-logo">
                        <h1 class="product-name"><%= product.title%></h1>
                    </div>
                    <div id="rating-container">
                        <div class="rating" data-rating="1" >★</div>
                        <div class="rating" data-rating="2" >★</div>
                        <div class="rating" data-rating="3" >★</div>
                        <div class="rating" data-rating="4" >★</div>
                        <div class="rating" data-rating="5" >★</div>
                         &nbsp; 0 Reviews
                      </div>

                      <div>$ <%= product.price%></div>
                    <hr class="mt-4">
                    <form method="post" action="/api/cart/add">
                        <input type="text" name="productId" hidden="true" value=<%= product.id%>>
                        <button class="add-to-bag__button">Add to bag</button>
                    </form>
                    <hr class="mt-4">
                    <div class="description-and-detail">
                        <div class="top-attributes">
                        <h2 class="col-12 title detail-panel-title">Product Details</h2>
                        <div class="attribute">
                            <span class="label">Desc:</span> <span class="value"><%= product.desc%></span>
                        </div>
                        <div class="attribute">
                        <span class="label">Case Size:</span> <span class="value"><%= product.size%></span>
                        </div>
                        <div class="attribute view-more-attribute show">
                            <span class="label">Case Color:</span> <span class="value"><%= product.color%></span>
                        </div>
                        <div class="attribute view-more-attribute show">
                            <span class="label">Category:</span> <span class="value"><%= product.category%></span>
                        </div>
                        <div class="attribute">
                        <span class="label">Strap Material:</span> <span class="value">Eco Leather</span>
                        </div>
                        <div class="attribute">
                        <span class="label">Water Resistance:</span> <span class="value">3 ATM</span>
                        </div>
                        <div class="attribute">
                        <span class="label">Case Material:</span> <span class="value">At Least 50% Recycled Stainless Steel</span>
                        </div>

                        <div class="attribute view-more-attribute show">
                        <span class="label">Dial Colour:</span> <span class="value">Greystone</span>
                        </div>

                        </div>
                        </div>
                </div>
            </div>
        </main>
        <script>
          function logout() {
            // Make an AJAX request to logout the user
            fetch('/logout', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ logout: true })
            })
            .then(response => {
              if (response.redirected) {
                // If the server redirected to the login page, redirect the client too
                window.location.href = response.url;
              }
            })
            .catch(error => console.error(error));
          }
          </script>
          
        </body>
</html>
